.lista-suspensa {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.lista-suspensa label {
  font-size: 20px;
}

.lista-suspensa select {
  background-color: #fff;
  box-shadow: 5px 5px 10px rgb(59, 59, 59);
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 18px;
  box-sizing: border-box;
}
